<div class="post">
  <div class="header">
<h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
 <div class="info">
   <strong>Тут автор</strong>
   <small>12.09.2019</small>
 </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugit inventore odio officia possimus. At culpa cumque, illo ipsam laboriosam optio pariatur perferendis unde. Illo laborum molestiae necessitatibus officiis pariatur. Ad architecto blanditiis consequuntur dolor doloribus facilis fugiat illo itaque labore numquam quas quia, quibusdam sit tenetur voluptate! Nesciunt, omnis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugit inventore odio officia possimus. At culpa cumque, illo ipsam laboriosam optio pariatur perferendis unde. Illo laborum molestiae necessitatibus officiis pariatur. Ad architecto blanditiis consequuntur dolor doloribus facilis fugiat illo itaque labore numquam quas quia, quibusdam sit tenetur voluptate! Nesciunt, omnis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugit inventore odio officia possimus. At culpa cumque, illo ipsam laboriosam optio pariatur perferendis unde. Illo laborum molestiae necessitatibus officiis pariatur. Ad architecto blanditiis consequuntur dolor doloribus facilis fugiat illo itaque labore numquam quas quia, quibusdam sit tenetur voluptate! Nesciunt, omnis?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga fugit inventore odio officia possimus. At culpa cumque, illo ipsam laboriosam optio pariatur perferendis unde. Illo laborum molestiae necessitatibus officiis pariatur. Ad architecto blanditiis consequuntur dolor doloribus facilis fugiat illo itaque labore numquam quas quia, quibusdam sit tenetur voluptate! Nesciunt, omnis?</p>
  </div>
</div>
